@charset "UTF-8";
.container{
	width:700px;
	margin:0 auto;
}
#signupBox{
	padding:30px;
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
}
#signupLogo{
	width:22%;
}
#memberFrm li{
	float:left;
	height:50px;
	line-height:30px;
	width:20%;
}
#memberFrm li:nth-child(2n+1){
	text-align:left;
	font-weight:700;
	margin-left:50px;
	padding:5px;
	font-size:1.2em;
	padding-bottom:10px;
}
#memberFrm li:nth-child(2n){
	width:50%;
	float:right;
	padding-bottom:10px;
}
#memberFrm li:last-of-type{
	text-align:center;
	width:87%;
	margin-top:25px;
}

.signup-pwd,
.signup-name,
.signup-email,
.signup-addr,
.signup-sms{
	width:68%;
	border:none;
	border-bottom:2px solid #adadad;
	outline:none;
	color:#636e72;
	font-size:16px;
	height:25px;
	background:none;
	float:left;
}
.signup-id, .signup-nickname{
	width:68%;
	border:none;
	border-bottom:2px solid #adadad;
	outline:none;
	color:#636e72;
	font-size:16px;
	height:25px;
	background:none;
	float:left;
}
.sms{
	display:none;
}
.signup-tel{
	width:50px;
	border:none;
	border-bottom:2px solid #adadad;
	outline:none;
	color:#636e72;
	font-size:16px;
	height:25px;
	background:none;
}
#tel-btn{
	margin-left:45px;
	width:60px;
}
.signup-btn{
	background-color:rgb(72, 97, 86);
	color:white;
}
.signupSelect{
	text-align:center;
	-webkit-appearance:none; 
	-moz-appearance:none; 
	-o-appearance:none; 
	appearance:none;
	background-color:transparent;
	border:none;
	border-bottom:2px solid #adadad;
	color:#636e72;
}
#addrMedium, #addrSmall{
	width:100px;
}
