@charset "UTF-8";

.ui-dialog {
	width: 440px !important;
	height: 250px !important;
	border-radius: 10px;
}

.ui-dialog-titlebar-close {
	display: none;
}

.ui-dialog-titlebar {
	border-radius: 10px;
}

#ui-id-1, #ui-id-2 {
	color: rgb(72, 97, 86);
	font-size: 1.3em;
	font-weight: 800;
}

#addrSelectBox {
	text-align: center !important;
}

#addrSelectBox>select {
	width: 200px;
	height: 30px;
	margin-top: 5px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #ddd;
	color: rgb(72, 97, 86);
}

.ui-dialog-buttonset {
	text-align: center !important;
}

.ui-dialog-buttonset>button {
	padding-left: 5px !important;
	background-color: rgb(72, 97, 86);
	border: none;
	border-radius: 5px;
	color: white;
}