@charset "UTF-8";

.admincontainer {
	padding-top:20px;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	min-height:717px;
}
.tab li {
	float: left;
}
.nav-link {
	display: inline-block;
	color: rgb(72, 97, 86);
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	transition: 0.3s;
}
/* =========↓↓↓========회 원 관 리========↓↓↓========= */
.clientList{
	text-align:center;
}
#clientManage>li {
	float: left;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid white;
	width: 10.2%;
	text-overflow: ellipsis;
	white-space: nowrap; /*줄안바꿈*/
	overflow: hidden; /*넘친 내용 숨기기*/
}
#clientManage>li:nth-child(7n+6){
	width:23%;
}
#clientManage>li:nth-child(7n) { 
	width: 25%;
}

/* =========↓↓↓========신 고 관 리========↓↓↓========= */
.reportList{
	text-align:center;
}
#reportManage>li {
	float: left;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid white;
	width: 15%;
	text-overflow: ellipsis;
	white-space: nowrap; /*줄안바꿈*/
	overflow: hidden; /*넘친 내용 숨기기*/
}
#reportManage>li:nth-child(5n){
	width:58%;
}
#reportManage>li:nth-child(5n+4){
	width: 7%;
}
#reportManage>li:nth-child(5n+1) { 
	width: 5%;
}

#prevBtn, #nextBtn{
	background-color:rgb(72, 97, 86);
	color:white;
}
.page-link{
	color:rgb(72, 97, 86);
}