@charset "UTF-8";
<<<<<<< HEAD
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
=======
>>>>>>> main
body,
div,
ul,
li{
	margin:0;
	padding:0;
<<<<<<< HEAD
	
}

body {
	background: linear-gradient(rgba(250, 246, 243), white);
	font-family: 나눔스퀘어, 'NanumSquare', sans-serif;
	
}

=======
}
body {
	background-color: #FAF6F3;
}
>>>>>>> main
ul,
li{
	list-style-type:none;
}
<<<<<<< HEAD
=======
.container{
	min-height:717px;
}
>>>>>>> main
a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: black;
}
a:hover {
	font-weight: 500;
<<<<<<< HEAD
}
=======
}
>>>>>>> main
