@charset "UTF-8";
body,
div,
ul,
li{
	margin:0;
	padding:0;
}
body {
	background-color: #FAF6F3;
}
ul,
li{
	list-style-type:none;
}
.container{
	min-height:717px;
}
a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: black;
}
a:hover {
	font-weight: 500;
}

