@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
body,
div,
ul,
li{
	margin:0;
	padding:0;
	list-style-type:none;
}
body {
	background: linear-gradient(rgba(241, 232, 223), white);
	font-family: 나눔스퀘어, 'NanumSquare', sans-serif;	
	background: linear-gradient(rgba(250, 246, 243), white);
	font-family: 나눔스퀘어, 'NanumSquare', sans-serif;
}
.container{
	min-height:717px;
}
a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: black;
}
a:hover {
	font-weight: 500;
}