@charset "UTF-8";
#loginContainer{
	min-height:800px;
}
#logoBox{
	padding:30px;
	padding-top:50px;
	text-align:center;
}
#loginLogo{
	width:30%;
}
#login {
	width: 500px;
	margin: 0 auto;
}
#login>h1 {
	text-align: center;
	margin:40px;
	font-weight:900;
}
#loginFrm>ul>li {
	text-align:center;
}
#userpwd{
	margin-bottom:10px;
}
.login-id,
.login-pwd{
	width:70%;
	border:none;
	border-bottom:2px solid #adadad;
	outline:none;
	color:#636e72;
	font-size:16px;
	height:25px;
	background:none;
	margin-top:40px;
}
.login-btn, .login-btn1, .login-btn2{
	height:50px;
	margin:20px;
	background-color:rgb(72, 97, 86);
	color:white;
	font-weight:500;
	margin-top:20px;
}
.login-btn, .login-btn1{
	width:90px;
}
.kakaoBtn{
	height:50px;
}
#FindInfoBtn{
	width:330px;
}