@charset "UTF-8";

/*공통부분*/
#mypageContainer {
	width:1200px;
	min-height:717px;
	margin:0px auto;
	height: 500px;
	margin-top: 50px;
}

#mypageContainer>div {
	float: left;
}
/*---------------------------------사이드메뉴--------------------------*/
/*----------------------------------------------------------------------------*/
/*사이드메뉴*/
#emptySpace{
	width:3%;
	height:100%;
}

#sideMenuFrm{
	background-color:rgba(255, 255, 255, 80%);
	border-radius:20px;
	width:22%;
	height:90%;
	filter : drop-shadow(0px 0px 10px rgb(144, 163, 140));
	position:relative;	
}

#sideMenuFrm>hr{
	height: 5px;
	background: #ddd;
	border-style: none;
	margin:5px;
}

#sideMenuFrm>h3{
	font-weight:700;
	padding-top:20px;
	padding-left:15px;
	padding-bottom:8px;
}

#sideMenu>li{
	background-color:transparent;
	color:white !important;
}

.active_sub {
	font-size: 1.5em;
	background-color: rgba(72, 97, 86, 80%) !important;
	border-style: none !important;
	
}
/*---------------------------내가 쓴 글 보기-----------------------------------*/
/*----------------------------------------------------------------------------*/
#mypageContainer {
	height: 500px;
	margin-top: 50px;
}

#mypageContainer>div {
	float: left;
}

.viewPage-mypage{
	height:90% !important;
	background-color:rgba(255, 255, 255, 80%);
	border-radius:3%;
	padding:15px;
	filter : drop-shadow(0px 0px 10px rgb(144, 163, 140));
}
.viewPage-mypage>h3 {
	font-weight:700;
	padding-top:5px;
	padding-left:15px;
}

.viewPage-mypage>hr {
	height: 5px;
	background: #ddd;
	border-style: none;
}

.topMemu-mypageView>div {
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#postPoint>div {
	width: 30%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.resultView-mypageView {
	height: 300px;
	width: 100%;
}

.listMenuTab {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: space-between;
}

.listMenuTab ul {
	display: flex;
	justify-content: space-around;
	width: 30%;
	font-size: 20px;
}

#postPoint>div>div>div {
	text-align: center;
	font-size: 18px;
}

#postPoint>div>div>div:last-child {
	width: 80px;
	height: 50px;
	line-height: 50px;
	background-color: rgb(72, 97, 86);
	border-radius: 5px;
	font-size: 20px;
	margin-top: 10px;
	font-weight: bold;
	color: white;
}

#postPoint {
	margin-top: -8px;
}

#image-mypage {
	margin-top: -4px;
}
#info-topMenu {
	margin-top: -5px;
}
.resultFrm>li {
	float: left;
}
.resultFrm li {
	float: left;
}
.resultFrm ul:first-of-type {
	border-top: 2px solid #ddd;
	height: 50px;
	padding-top: 10px;
	margin-top: 10px;
	border-bottom: 1px solid #ddd;
}
.resultFrm ul {
	border-bottom: 1px solid #ddd;
	height: 30px;
}
#info-topMenu>div>div {
	margin-bottom: 7px;
}
.resultFrm>ul>li {
	width: 20%;
	text-align: center;
}
.tabs>li {
	cursor: pointer;
}
.tab-content{
	padding-left:30px;
}

/*---------------------------------개인 정보 수정--------------------------*/
/*----------------------------------------------------------------------------*/
/*개인정보수정*/

#editView{
	float:center;
	height:90% !important;
	background-color:rgba(255, 255, 255, 80%);
	border-radius:3%;
	padding:15px;
	filter : drop-shadow(0px 0px 10px rgb(144, 163, 140));
}
#editArea{
	width:90%; 
	height:80%;
	display:block;
}
#editView>h3{
	font-weight:700;
	padding-top:3px;
	padding-left:15px;
}
#editView>hr {
	height: 5px;
	background: #ddd;
	border-style: none;
}
#editFrm input {
	width:120px;
	text-align:center;
	border-style: none;
	background-color: transparent;
	border-bottom: 2px solid #ddd;
}
.edit-tel{
	width:50px !important;
}
#editFrm{
	width:800px;
	margin-left:50px;
	margin-top:30px;
}
#editFrm li{
	height:55px;
	padding-bottom:17px;
}
#editFrm li:nth-child(2n+1){
	font-size:1.2em;
	font-weight:700;
	float:left;
	width:20%;
}
#editFrm li:nth-child(2n){
	float:left;
	width:80%;
}
#smsCode{
	width:200px !important;
}
#mypageEmail{
	width:300px !important;
}
/*edit의 버튼들*/
#editFrm .btn{
	width:90px;
	height:35px;
	background: rgba(72, 97, 86, 50%);
	color:white;
	margin-left:15px;
}
#mypageeditSubmit{
	width:800px;
	
}
#editSubmit{
	margin-left:0 !important;
	margin-top:15px;
	background: rgb(72, 97, 86) !important;
}
/*---------------------------------회원탈퇴--------------------------*/
/*----------------------------------------------------------------------------*/
/*회원탈퇴*/
/*myDelMember.jsp ---> 회원 탈퇴 */

.viewPage-mypage>hr {
	height: 5px;
	background: #ddd;
	border-style: none;
}

.div1 {
	display: none;
}

#selectBoxForDel, #pwdForCheck {
	background-color: transparent;
	border-style: none;
	border-bottom: 2px solid #ddd;
}
#passwordCSS,#passowrdCheckCSS {
	 width:100%;
}
#passwordCSS>div, #passowrdCheckCSS>div {
	/*비빌번호 비밀번호 체크 div*/
}
#passwordCSS>div:first-child, #passowrdCheckCSS>div:first-child {
	margin-right: 5%;
}

/*---------------------------------회원탈퇴--------------------------*/
/*----------------------------------------------------------------------------*/
/*회원탈퇴*/
#delMemberView>h3{
	font-weight:700;
	padding-top:5px;
	padding-left:15px;
}
#delFrm{
	padding-left:30px;
}
#delFrm span {
	font-size: 1.2em;
	font-weight:400;;
}

#delFrm ul {
	margin-bottom: 30px;
}

#delMemberView{
	height:90% !important;
	background-color:rgba(255, 255, 255, 80%);
	border-radius:3%;
	padding:15px;
	filter : drop-shadow(0px 0px 10px rgb(144, 163, 140));
}

#btn_delMember{
	background-color:rgba(72, 97, 86, 80%);
	color:white;
}

#btn_delMember{
	background-color:rgba(72, 97, 86, 80%);
	color:white;
}
/*------------------------tab 내 쓴 글 보기 리스트---------------------------*/
#printFrm1 ul {
	display: flex; border-bottom: 1px solid #ddd;
}

#printFrm1 li {
	float:left; 
	border-right: 3px solid red; 
	width:16%; text-align: center; 
	height:20px; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}
#printFrm1>ul>li:nth-of-type(3){
	background-color: orange;
}

.innerTab {
	margin-top:15px;
}
.tabTopMenu {
	display: flex; align-items: center; text-align: center;
	justify-content: space-between;
}
.bottom-myView {
	display: flex; justify-content:center;
}
