@charset "UTF-8";

#tbBody{
	display:flex;	
}

.table td, .table th{
	border:none !important;
}
#saleEditForm h1{
	text-align:center;
	font-weight:700;
	color:rgb(72, 97, 86);
} 
#saleBoardTitle{
	margin-right:10px;
}

#writeBtn{
	background-color:  rgb(72, 97, 86);
	color:white;
	padding:10px 30px;
}
#backList, .xbtn{
	background-color: gray;
	color:white;
}
#backList{
	padding:10px 30px;
}

.xbtn{
	padding:3px 5px;
}

#innerFiles{
	display:flex;
	flex:left;
	margin:30px;
	display:block;
}

#innerFiles input[type=hidden]{
	width:230px;
	margin:10px;
}
#saleBoard{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background-color:rgb(213, 218, 212);
	color:rgb(72, 97, 86);
	margin-top:5px;
}
#saletag{
	background:rgb(213, 218, 212);
	color:rgb(72, 97, 86);
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	margin-top:5px;
}
#renttag, #sharetag, #requesttag{
	height:50px;
}
#renttag:hover, #sharetag:hover, #requesttag:hover{
	background:rgb(142, 158, 139) !important;
	color:rgb(72, 97, 86);
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	height:45px;
	margin-top:5px;
	cursor:pointer;
}