@charset "UTF-8";
/*이미지*/
.sri img{
	width:100%;
	height:100%;
	width:500px;
	height:600px;
	margin-top:100px;
}

.srb {
	margin-top:100px;	
}

.src {
	margin-top:30px;
}

/*상세페이지*/
#category{
	float:left;
	border: 4px solid rgb(72, 97, 86) ;
	padding : 6px;
	color : rgb(72, 97, 86);
}
/*제목*/
#productTitle{
	margin:10px 0;
}

#titleInner{
	font-weight:bold;
	margin-left:20px;
}

#productIcon{
	display:flex;
	justify-content:space-around;
	margin:20px 10px;
}

.proIcon{
	margin-top:10px;
}

#pick{
 	background-color: rgb(72, 97, 86);
	color:white;
}

#proWarn{
	background-color: gray;
	color:white;
}
 
.iconValue{
	margin-left:10px;
}

/*유저 정보*/
#userInfo{
	display:flex;
	margin:20px 0;
}

#userInfo>div:nth-child(1){
	margin-left:10px;	
}
 
#userinfoInner{
 	font-size:1.2em;
 	margin:10px;
 	font-weight:bold;
}

#userinfoInner>div:nth-child(n+1){
	margin:0 0 10px 20px;
}

/*참여 정보*/
#joinMember{
 	display:flex;
	justify-content:space-around;
	margin:20px 0;
}

#joinMember>div:nth-child(n+2){
	font-size:1.2em;
	line-height:50px;
}

/*버튼*/
#joinPlus, #joinChat, #shareEdit {
	background-color: rgb(72, 97, 86);
	color:white;
	padding:10px 30px;
}

#joinMinus, #shareAndReqDel{
	background-color: gray;
	color:white;
	padding:10px 30px;
}

#btnSpace{
	margin:20px;
}

.pb{
	margin:20px;
}
.shareAndReqComent{
	padding: 12px;
	border: none;
	border-radius:10px;
	outline:none;
	resize:none;
	font-size: 16px;
	background-color:#FAF6F3;
	margin:20px 20px 0 0;
}

#commentLine {
	display:flex;
	position:relative;
}

#replyInsert {
	background-color: rgb(72, 97, 86);
	color:white;
}

#replyInsert {
	position:absolute;
	left:750px; 
	bottom:0px;
}