@charset "UTF-8";
.cb>ul>li{
	margin-bottom:10px;
}

.sl{
	margin-bottom:40px;
}
#nanum{
	text-align:center;
	font-weight:bold;
}

#shareWrite{
	background-color: rgb(239, 136, 105) ;
	color:white;
	padding:10px 30px;
	margin-bottom:20px;
}

#views, #heart{
	float:right;
}

#shareTitle{
	font-size:1.4em;
	font-weight:bold;
	white-space: nowrap;
 	overflow: hidden;
 	text-overflow: ellipsis;
}

.iconValue{
	margin-left:10px;
}