@charset "UTF-8";

#memberFrm li{
	float:left;
	height:50px;
	line-height:30px;
	width:20%;
	text-align:center;
	
}
#memberFrm li:nth-child(2n+1){
	text-align:right;
	font-weight:bold;
	margin-left:30px;
	padding:5px;
}
#memberFrm li:nth-child(2n){
	text-align:center;
	width:70%;
}
#memberFrm li:last-of-type{
	text-align:center;
	width:100%;
	margin-top:50px;
}
#signup-logo{
	margin:50px;
	text-align:center;
}
.signup-id,
.signup-pwd,
.signup-name,
.signup-email,
.signup-nickname,
.signup-tel,
.signup-addr,
.signup-sms{
	width:30%;
	border:none;
	border-bottom:2px solid #adadad;
	outline:none;
	color:#636e72;
	font-size:16px;
	height:25px;
	background:none;
	position:static;
}
.signup-tel{
	width:55px;
}
#sms-btn1{
	text-align:center;
	margin-left:20px;
	height:45px;
}
.sms{
	/*display:none;*/
}
.signup-btn{
	height:45px;
	border:2px solid rgb(142, 158, 139);
}