@charset "UTF-8";
.container{
	width:700px;
	margin:0 auto;
}
#signup-logo{
	font-weight:900;
	text-align:center;
	padding:40px;
}
#memberFrm li{
	float:left;
	height:50px;
	line-height:30px;
	width:20%;
	text-align:center;
}
#memberFrm li:nth-child(2n+1){
	text-align:left;
	font-weight:700;
	margin-left:50px;
	padding:5px;
	font-size:1.2em;
	padding-bottom:10px;
}
#memberFrm li:nth-child(2n){
	width:60%;
	float:right;
	padding-right:50px;
	padding-bottom:10px;
}
#memberFrm li:last-of-type{
	text-align:center;
	width:100%;
	margin-top:50px;
}
.signup-pwd,
.signup-name,
.signup-email,
.signup-addr{
	width:70%;
	border:none;
	border-bottom:2px solid #adadad;
	outline:none;
	color:#636e72;
	font-size:16px;
	height:25px;
	background:none;
	float:left;
}

.signup-id, .signup-nickname{
	width:70%;
	border:none;
	border-bottom:2px solid #adadad;
	outline:none;
	color:#636e72;
	font-size:16px;
	height:25px;
	background:none;
	float:left;
}

.signup-tel{
	width:60px;
	border:none;
	border-bottom:2px solid #adadad;
	outline:none;
	color:#636e72;
	font-size:16px;
	height:25px;
	background:none;
}
#tel-btn{
	margin-left:45px;
	width:60px;
}
.signup-btn{
	background-color:rgb(72, 97, 86);
	color:white;
}