@charset "utf-8";
nav{
	background-color:rgb(245, 199, 173);
}
.topMenu{
	width:1200px;
	height:50px;
	margin:0 auto;
}
.topMenu li{
	float:left;
	width:12.5%;
	height:50px;
	line-height:50px;
	font-size:1.4em;
	text-align:center;
	font-weight:500;
}

.bottom{
   width:100%;
   height:50px;
   text-align:center;
   color:white;
   background-color:gray;
}