@charset "utf-8";
nav{
	background-color:rgb(230, 211, 202);
}
nav>hr{
	margin:0 auto; padding:0px; width:1200px;
}

/*==================Top 1행==========================*/
.topMenu1{
	width:1200px;
	height:60px;
	margin:0 auto;
	line-height:60px;
	text-align:center;
}
.topMenu{
	width:1200px;
	height:50px;
	margin:0 auto;
	line-height:50px;
	text-align:center;
}

/*!!!!!!!!!!로고!!!!!!!!!!*/
.topMenu1 img{
	width:200px;
}

/*--------------검색 영억---------------------*/
#topSearch{
	padding-left:150px;
	padding-top:5px;
}
#searchBox{
	margin-top:4px;
	height:40px;
	line-height:35px;
	background-color:white;
	border-radius:10px;
	border:1px solid #666;
}
#searchInput{
	text-align:center;
	background-color:rgba(0, 0, 0, 0);
	border:0px;
	border-bottom:1px grid gray;
	color:rgb(154, 97, 66);
}
#searchBox>input:focus{
	border:none !important;
	box-shadow:none !important;
}
/*!!!!검색박스의 돋보기 아이콘!!!!!!!!!*/
#searchIcon{
	padding:0 10px;	
}
#searchIcon:hover{
	cursor: pointer !important;
}
/*---------------select 영억---------------------*/
#topSelect{
	height:50px;
	text-align:center;
 	width: 150px;
 	height: 35px;
  	border-radius: 10px;
    border: 2px solid none;
   	padding-top:3px;
   	font-weight:100;
}
/*--------------버튼 영억---------------------*/
.gridContainer{
	width:1200px;
	height:50px;
	display:grid;
	grid-template-columns:170px 520px 100px 410px;
}
/*!!!!!로그인 회원가입 / 마이페이지 로그아웃 버튼!!!!!!!!!!*/
#gridBtn{
	margin-left:110px;
}
.sign{
	background-color:rgb(154, 97, 66);
	font-weight:500px;
}
/*==================Top 2행==========================*/
.topMenu{
	font-weight:700;
	font-size:1.4em;
}
.bottom{
   width:100%;
   height:50px;
   text-align:center;
   color:white;
   background-color:gray;
}