<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semiproject.soboon.dao.ReplyAndPickDAO">
	<insert id="insertReply">
		insert into reply(no, userid, nickname, coment) 
		values(${no}, #{userid}, #{nickname}, #{coment})
	</insert>
	<select id="selectReplyList" resultType="ReplyAndPickVO">
		select replyno, no, nickname, coment, 
		date_format(createdate, "%m/%d %H:%i")createdate
		from reply 
		where no=${param1} order by replyno desc
	</select>
	<update id="updateReply">
		update reply set coment=#{coment} where replyno=${replyno} and nickname=#{nickname}
	</update>
	<delete id="deleteReply">
		delete from reply where replyno=#{param1} and nickname=#{param2}
	</delete>
</mapper>